.detail-view {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: var(--bg-clr-1);
  gap: 2rem;
  padding: var(--space-md);
  z-index: 3;
  overflow-y: auto;

  &--hidden {
    display: none;
  }

  &__save-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 2.5rem;
    width: 2.5rem;
    background: var(--bg-clr-1);
    font-size: var(--font-md);
    color: var(--text-clr-1);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 0.5rem;

    &--hidden {
      display: none;
    }
  }

  &__head {
  }

  &__current-weather {
    width: 100%;
    border-radius: 40px;
    corner-shape: squircle;
  }

  &__forecast-weather {
    width: 100%;
    padding: 1rem;
    border-radius: 40px;
    corner-shape: squircle;
  }

  &__more-weather {
    width: 100%;
  }
}
