.location-detail {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: hsl(0, 0%, 10%);
  border-radius: 40px 40px 0px 0px;
  corner-shape: squircle;
  z-index: 3;

  &--hidden {
    display: none;
  }

  &__save-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 2.5rem;
    width: 2.5rem;
    background: var(--bg-clr-1);
    font-size: var(--font-md);
    color: var(--text-clr-1);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 0.5rem;

    &--hidden {
      display: none;
    }
  }

  &__name {
    font-size: var(--font-size-M);
    margin-top: 3rem;
    color: var(--text-clr-1);
  }

  &__temp {
    font-size: var(--font-size-XL);
    color: var(--text-clr-1);
  }

  &__condition {
    font-size: var(--font-size-s);
    color: var(--text-clr-2);
  }

  &__high {
    font-size: var(--font-size-s);
    color: var(--text-clr-2);
    margin-right: var(--space-xs);
  }

  &__low {
    font-size: var(--font-size-s);
    color: var(--text-clr-2);
    margin-left: var(--space-xs);
  }
}
