@use "../base/mixins";

.saved-locations-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  overflow-y: auto;

  &__delete-button {
    stroke: var(--text-warning);
    cursor: pointer;

    &:hover {
      stroke: hsl(0 75 50);
    }

    &--hidden {
      display: none;
    }
  }

  &--blurred {
    filter: blur(12px);
  }

  &__item {
    @include mixins.flexCenter;

    gap: var(--space-sm);
    text-shadow: 2px 2px 4px hsla(0, 0%, 15%, 0.75);
  }
}

.location-card {
  @include mixins.card;

  width: 100%;
  align-items: space-between;
  background: var(--bg-clr-2);
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  padding: var(--space-xs) var(--space-sm);

  &:hover {
    border: 1px solid var(--border-highlight);
  }

  &.show-background {
    background:
      linear-gradient(0deg, hsla(0 0 10 / 0.5), hsla(0 0 10 / 0.5)),
      var(--condition-image);
    background-size: cover;
    background-position: center;
  }

  &__name {
    font-size: var(--font-md);
    font-weight: 500;
    color: var(--text-clr-1);
  }

  &__temp {
    font-size: var(--font-xl);
    font-weight: 350;
    color: var(--text-clr-1);
  }

  &__time {
    font-size: var(--font-sm);
    color: var(--text-clr-2);
  }

  &__condition {
    font-size: var(--font-sm);
    color: var(--text-clr-2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: var(--space-md) var(--space-xs) 0 0;
  }

  &__highLow {
    display: flex;
    gap: var(--space-xs);
    font-size: var(--font-sm);
    color: var(--text-clr-1);
    margin-top: var(--space-md);
  }
}
