@mixin card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 40px;
  corner-shape: squircle;
  padding: var(--space-sm);
  backdrop-filter: blur(6px);
  border: 1px solid var(--border-clr-1);
}

@mixin button {
  height: 2.5rem;
  width: 2.5rem;
  font-size: var(--font-md);
  border-radius: 50%;
  border: 1px solid var(--border-clr-1);
  cursor: pointer;
  margin: 0.5rem;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin largeScreen {
  @media screen and (min-width: 500px) {
    width: 500px;
    max-height: 90%;
    border-radius: 40px;
    corner-shape: squircle;
    gap: var(--space-lg);
    font-family: var(--font-primary);
    background: var(--bg-clr-1);
    padding: var(--space-lg);
  }
}
