@use "../base/mixins";

#app {
  @include mixins.largeScreen;
  width: 480px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  font-family: var(--font-primary);
  background: var(--bg-clr-1);
  gap: var(--space-lg);
  padding: var(--space-lg);
  border: 1px solid var(--border-clr-1);
  box-shadow: hsla(269, 11%, 44%, 0.3) 0px 16px 124px;

  &.show-background {
    background:
      linear-gradient(0deg, hsla(0, 0%, 10%, 0.5), hsla(0, 0%, 10%, 0.5)),
      var(--condition-image);
    background-size: cover;
    background-position: top left;
  }
}

.main-menu-container {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
