#app {
  width: 430px;
  height: 932px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: var(--space-lg);
  font-family: var(--font-primary);
  background: var(--bg-clr-1);
  padding: var(--space-md);

  &.show-background {
    background:
      linear-gradient(0deg, hsla(0 0 10 / 0.5), hsla(0 0 10 / 0.5)),
      var(--condition-image);
    background-size: cover;
    background-position: top left;
  }
}

.main-menu-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
